body{
background-color: #33b5e8;
}

button{
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #0e45bb;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}